body {
  background: url("http://www.wallpaperup.com/uploads/wallpapers/2014/01/03/214148/e035318bd6e0c1ddd5aa56af70452274.jpg") no-repeat center;
  background-size: auto;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  color: white;
  text-shadow: 5px 4px 2px black;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 10px;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.guesses {
  font-size: 40px;
  color: yellow;
}

span {
  color: pink;
  font-size: 30px;
}

input[type='text'] {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

input[type='submit'], button {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  margin-right: 15px;
  text-align: center;
  color: black;
  border-radius: 10px;
  background: pink;
}

button {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  margin-left: 350px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background: indigo;
  display: block;
}

input[type='submit']:hover {
  background-color: #fff;
}

button:hover {
      background-color: white;
      color: black;
